<div ng-controller="worksCtrl as worksCtrl">

  <h2 id="target-date">{{ works.date }}</h2>

  <div id="work-operations">
    <a id="add-work" class="add-btn">
      <i class="fi-plus"></i>
      追加
    </a>
  </div>

  <div id="works" ng-repeat="(date, contents) in worksCtrl.works.works">
    
    <div class="monthly-works">
      <div class="date-label">
	<i class="icon fi-social-joomla"></i>
	<span class="root-date">{{ date }}</span>
      </div>

      <div class="work-status">
	<span class="work-status">
	  <i class="fi-bookmark icon-size18"></i>
	  {{contents.status.status}}
	</span>
	<span class="total-work-time">
	  <i class="fi-torso-business icon-size18"></i>
	  {{contents.status.work_time}}h
	</span>
	<span class="duty-time">
	  <i class="fi-clock icon-size18"></i>
	  {{contents.status.start_time}} ~ {{contents.status.end_time}}
	</span>
      </div>
      
      <lo id="work-group">
        <li class="work" ng-repeat="content in contents.contents">
	  <div class="content-cell-left">

	    <div class="content-title">
	      <span>{{ content.mission_title }}:</span>
	      <span>{{ content.work_title }}</span>
	      <span class="detail-btn-wrapper" ng-click="worksCtrl.toggleContentDetail($index)">
		<a href="" class="detail-btn">…</a>
	      </span>
	    </div>
	    
	    <div class="work-times">
	      <ul>
		<li>作業時間: {{ content.work_time }}h</li>
	      </ul>
	    </div>
	  </div>

	  <div class="content-detail" id="content-detail{{ $index }}">
	    {{ content.work_contents }}
	  </div>
	  
	</li>
      </lo>
    </div>
  </div>
</div>
