/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_tree ./foundation-icons2
 */

body, html {
  height:100%;
}

header#page-header {

  background-color:#6096ce;
  padding:10px;
  height:40px;

  h1#title {
    float:left;
    color:white;
    font-size:2rem;
  }    
}

div#container {

  height:100%;
  overflow:auto;
  
  div#sidemenu {

    width:180px;
    height:100%;
    background:#f9f9f9;
    color:#888;
    float:left;

    div#usermenu {

      padding:20px 0 10px 10px;
      border-bottom:1px solid #e5e5e5;
      
      img.account {

	border-radius:100px;
	-webkit-border-radius:100px;
	width:40px;
	height:40px;
	border:2px solid #AAAAAA;
      }
    }

    li {
      padding:10px 0 10px 10px;
      border-bottom:1px solid #e5e5e5;
    }

  }

  div#contents {

    float:left;
    margin:10px;
    
  }
}